:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    min-height: 1000px;
}

.home-title-block {
    margin-top: -8rem;
    max-width: 90vw;
    font-family: Gramatika;
    font-size: 6.5rem;
    line-height: 6.5rem;
    text-align: center;
    white-space: nowrap;
    color: white;
    animation: titleBlockTransition 1.25s;
    -webkit-animation: titleBlockTransition 1.25s;
    animation-fill-mode: forwards;
}

@keyframes titleBlockTransition {
    0%, 10% { opacity: 0; padding-top: 150px; }
    100% { opacity: 1; padding-top: 0px; }
}

.home-title-block > .home-title-text-gradient {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

#home-title-image {
    z-index: 1;
    width: 35em;
    margin-top: -6rem;
    animation: titleImageTransition 1.25s;
    -webkit-animation: titleImageTransition 1.25s;
    animation-fill-mode: forwards;
}

@keyframes titleImageTransition {
    0%, 10% { opacity: 0; padding-top: 75px; padding-right: 70px; }
    100% { opacity: 1; padding-top: 0px; padding-right: 0px; }
}

@keyframes starzoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.title-sub-text {
    margin-top: 2rem;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 2rem;
    text-align: center;
    animation: titleSubFade 2s;
    -webkit-animation: titleSubFade 2s;
    animation-fill-mode: forwards;
}

@keyframes titleSubFade {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.biy-overview {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    width: 70vw;
    max-width: 1175px;
    color: #ffffff;
}

.biy-overview-tagline {
    font-family: Gramatika;
    font-size: 2rem;
}

.biy-overview-description {
    font-family: "Montserrat";
    font-size: 1.4rem;
    margin: 2rem 0 2rem 8rem;
}

.biy {
    font-family: "Righteous";
    font-weight: 500;
}

@media screen and (max-height: 1000px) {
    .home-title-block {
        margin-top: -16rem;
    }
}